
@{
    ViewData["Title"] = "Index";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<!-- Head -->
@await Component.InvokeAsync("_HeadUILayoutComponentPartial")

<body>

    <!-- Navbar -->
    @await Component.InvokeAsync("_NavbarUILayoutComponentPartial")
    
    <!-- DefaultCover -->
    @await Component.InvokeAsync("_DefaultCoverUILayoutComponentPartial")

    <!-- Rent A Car-->
    @await Component.InvokeAsync("_RentACarFilterComponentPartial")
     
    <!-- DefualtLast5CarsWithBrand -->
    @await Component.InvokeAsync("_DefualtLast5CarsWithBrandComponentPartial")

    <!-- About Us -->
    @await Component.InvokeAsync("_AboutUsComponentPartial")

    <!-- Service -->
    @await Component.InvokeAsync("_ServiceComponentPartial")

    <!-- Become A Driver-->
    @await Component.InvokeAsync("_BecomeADriverComponentPartial")
    
    <!-- Testimonial -->
    @await Component.InvokeAsync("_TestimonialComponantPartial")
    
    <!-- Blog -->
    @await Component.InvokeAsync("_GetLast3BlogWithAuthorsAndCategoriesViewComponentPartial")
    
    <!-- Statistics -->
    @await Component.InvokeAsync("_DefaultStatisticsComponentPartial")
   
    <!-- Footer -->
    @await Component.InvokeAsync("_FooterUILayoutComponentPartial")

 <!-- Script -->
 @await Component.InvokeAsync("_ScriptUILayoutComponentPartial")
    
</body>
</html>